body {
    background-color: var(--main-white);
    color: var(--main-dark-color);
    font-style: normal;
    font-family: var(--font-montserrat);

}

.subtitle {
    font-family: var(--font-denistina);
    font-weight: 400;
}

.custom-bullet,
swiper-hero-bullet {
    padding: 2px;
    opacity: 0.5;
    transition: opacity 0.3s;
    cursor: pointer;
    font-size: 12px;
}

.custom-bullet:hover,
.custom-bullet:focus {
    opacity: 1;
}

.custom-bullet.active {
    opacity: 1;
}

.swiper-hero-next,
.swiper-hero-prev {
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    width: 44px;
    height: 44px;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    display: block;
}

.swiper-hero-next:hover,
.swiper-hero-prev:hover {
    background-color: var(--main-orange);
    color: var(--main-white);
}