body {
    background-color: var(--main-white);
    color: var(--main-dark-color);
    font-style: normal;
    font-family: var(--font-montserrat);

}

.subtitle {
    font-family: var(--font-denistina);
    font-weight: 400;
}

.custom-bullet {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.custom-bullet.swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #C65528;
}