@import 'tailwindcss';

/* Loader */

.loader {
  display: block;
  width: 32px;
  height: 32px;
  position: relative;
  border-radius: 50%;
  color: var(--main);
  animation: fill 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  left: 48px;
  top: 0;
  animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
  left: auto;
  right: 48px;
  animation-duration: 1.1s;
}

/* Swiper */

.swiper {
  padding-bottom: 76px !important;
}

.swiper-button-next,
.swiper-button-prev {
  width: 44px !important;
  height: 44px !important;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--orange);
  transition: filter 300ms ease-in-out;
  top: calc(100% - 32px) !important;
}

@media screen and (min-width: 1280px) {
  .swiper-button-next,
  .swiper-button-prev {
    width: 66px !important;
    height: 66px !important;
    padding: 16.5px;
    border-radius: 19.8px;
    top: calc(100% - 20px) !important;
  }
}

.swiper-button-next:hover,
.swiper-button-prev:hover,
.swiper-button-next:focus-visible,
.swiper-button-prev:focus-visible {
  filter: brightness(125%);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  transform: scale(0.95);
}

.swiper-button-prev {
  left: calc(50% - 59px) !important;
}

.swiper-button-next {
  right: calc(50% - 59px) !important;
}

.swiper-button-prev::after {
  content: '' !important;
  display: flex;
  width: 100%;
  height: 100%;
  background: url('/images/icons/arrowInCircleLeft.svg') center no-repeat;
  background-size: contain;
}

.swiper-button-next::after {
  content: '' !important;
  display: flex;
  width: 100%;
  height: 100%;
  background: url('/images/icons/arrowInCircleRight.svg') center no-repeat;
  background-size: contain;
}
